[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pyjwt = "*"
psycopg2-binary = "*"
python-dotenv = "*"
dj-database-url = "*"
google-auth = "*"
africastalking = "*"
gunicorn = "*"
resend = "*"
channels = "*"
daphne = "*"
channels-redis = "*"
pywebpush = "*"
django-unfold = "*"
requests = "*"
pyopenssl = "==24.2.1"
cryptography = "==43.0.0"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.14"
